<section class="p-about p-scroll l-container--1200" id="about">
  <div class="c-about">
    <div class="c-about__wrapper c-fadein">
      <div class="c-about__text u-textwhite">
        <h2 class="c-about__title"><%=about.title%></h2>
        <div class="c-about__content">
          <p class="c-about__description"><%-about.des1%></p>
          <p class="c-about__description"><%-about.des2%></p>
          <p class="c-about__description"><%-about.des3%></p>
          <p class="c-about__description"><%-about.des4%></p>
          <p class="c-about__description"><%-about.des5%></p>
        </div>
      </div>
      <div class="c-about__imgbox">   
        <div class="c-about__img c-about__img--top">
          <picture>
            <source media="(max-width:767px)" srcset="<%=about.spimg1%>">
            <source media="(max-width:1024px)" srcset="<%=about.tabimg1%>">
            <img src="<%=about.img1%>" alt="<%=about.title%>" >
          </picture>
        </div>
        <div class="c-about__img c-about__img--bottom">
          <picture>
            <source media="(max-width:767px)" srcset="<%=about.spimg2%>">
            <source media="(max-width:1024px)" srcset="<%=about.tabimg2%>">
            <img src="<%=about.img2%>" alt="<%=about.title%>" class="c-about__img c-about__img--bottom">
          </picture>
        </div>
      </div>
    </div>
  </div>
</section>
