<section class="p-career l-container--1200" id="career">
  <div class="c-career">
    <div class="c-career__heading l-container--880">
      <div class="c-career__heading--top">
        <h2 class="c-career__title u-textblue">
          <%= career.title1 %><br><span class="c-career__title--under"
            ><%= career.title2 %></span
          >
        </h2>
      </div>
      <div class="c-career__heading--bottom">
        <p class="c-career__description">
          <span class="c-career__description--line"><%= career.des1 %></span>
          <span class="c-career__description--line"><%= career.des2 %></span>
          <span class="c-career__description--line"><%= career.des3 %></span>
          <span class="c-career__description--line"><%= career.des4 %></span>
          <span class="c-career__description--line"><%= career.des5 %></span>
          <span class="c-career__description--line"><%= career.des6 %></span>
        </p>
      </div>
    </div>
    <div class="c-career__contentbox">
      <div class="c-career__contentmodal u-bgwhite">
        <h3 class="c-career__boxtitle u-textblue"><%= career.boxtitle%></h3>
        <p class="c-career__boxdescription">
          <span class="c-career__boxdescription--line"
            ><%= career.boxdes1%></span
          >
          <span class="c-career__boxdescription--line"
            ><%= career.boxdes2%></span
          >
          <span class="c-career__boxdescription--line"
            ><%= career.boxdes3%></span
          >
          <span class="c-career__boxdescription--line"
            ><%= career.boxdes4%></span
          >
        </p>
      </div>
    </div>
    <div class="c-career__plan l-container--960 u-textblue">
      <h3 class="c-career__plantitle"><%= plan.title%></h3>
      <div class="c-career__diagram">
        <% if (typeof plan != 'undefined') { %> <% plan.list &&
        plan.list.forEach(item => { %>
        <div class="c-career__process">
          <h4 class="c-career__processtitle"><%= item.heading %></h4>
          <p class="c-career__processdesc">
            <% if (item.description) { %> <% item.description &&
            item.description.forEach(des => { %> <%- des.des %> <%})%> <%}%>
          </p>
        </div>
        <% }) %> <%}%>
      </div>
      <div class="c-career__question u-textorange"><%- plan.question %></div>
    </div>
    <div class="c-career__benefit">
      <div class="c-benefit__imgbox">
        <% if (benefit.imgs) { %> <% benefit.imgs && benefit.imgs.forEach(img =>
        { %>
        <img
          src="<%= img.url %>"
          alt="<%= benefit.title1%>"
          class="c-benefit__img"
        >
        <% }) %> <%}%>
      </div>
      <div class="c-benefit__text">
        <div class="c-benefit__content c-benefit__content--top">
          <h4 class="c-benefit__title u-textorange"><%= benefit.title1 %></h4>
          <div class="c-benefit__description u-textgray">
            <% if (benefit.list1) { %> <% benefit.list1 &&
            benefit.list1.forEach(item => { %>
            <dl class="c-benefit__item">
              <dt class="c-benefit__name"><%- item.heading%></dt>
              <dd class="c-benefit__itemdesc">
                <% if(item.notes){%> <% item.notes.forEach(note=> { %>
                <%-note.note%> <%})%> <%}%>
              </dd>
            </dl>
            <%})%> <%}%>
          </div>
        </div>
        <div class="c-benefit__content c-benefit__content--bottom">
          <h4 class="c-benefit__title u-textorange"><%= benefit.title2 %></h4>
          <div class="c-benefit__description u-textgray">
            <% if (benefit.list2) { %> <% benefit.list2 &&
            benefit.list2.forEach(item => { %>
            <dl class="c-benefit__item">
              <dt class="c-benefit__name"><%= item.heading%></dt>
              <dd class="c-benefit__itemdesc">
                <% if(item.notes){%> <% item.notes.forEach(note=> { %>
                <%-note.note%> <%})%> <%}%>
              </dd>
            </dl>
            <%})%> <%}%>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
