<section class="p-collection l-container--880" id="collection">
    <div class="c-collection">
        <div class="c-collection__heading">
          <h2 class="c-collection__title u-textblue"><%=collection.title%></h2>
          <p class="c-collection__description u-textgray"><%=collection.description%></p>
        </div>
        <div class="c-collection__content">
                <div class="c-collection__item c-collection__item--video">
                    <video autoplay muted loop class="c-collection__video" controls="" data-ll-status="loaded">
                    <source data-src="<%=collection.video%>" type="video/mp4" src="<%=collection.video%>">
                    </video>
                </div>
                <div class="c-collection__item c-collection__item--imgbox">
                    <% if (typeof collection != 'undefined') { %>
                        <% collection.imgs && collection.imgs.forEach(img => { %>
                            <figure class="c-collection__img">
                                <img src="<%= img.url %>" alt="<%= collection.title %>">
                            </figure>
                        <%})%>
                    <%}%>
                </div>
        </div>
    </div>
  </section>
  