<section class="p-collection l-container--880" id="collection">
    <div class="c-collection">
        <div class="c-collection__heading">
          <h2 class="c-collection__title u-textblue"><%=collection.title%></h2>
          <p class="c-collection__description u-textgray"><%=collection.description%></p>
        </div>
        <div class="c-collection__content">
                <div class="c-collection__item c-collection__item--video">
                    <video autoplay muted loop class="c-collection__video" controls="" data-ll-status="loaded">
                    <source data-src="<%=collection.video%>" type="video/mp4" src="<%=collection.video%>">
                    </video>
                </div>
                <div class="c-collection__item c-collection__item--imgbox">
                    <% if (typeof collection != 'undefined') { %>
                        <% collection.imgs && collection.imgs.forEach(img => { %>
                            <figure class="c-collection__img">
                                <img src="<%= img.url %>" alt="<%= collection.title %>">
                            </figure>
                        <%})%>
                    <%}%>
                </div>
        </div>
    </div>
    <div class="c-collection__modal">
        <% if (collection.modals) { %>
            <% collection.modals.forEach((modal,i) => { %>
                <div class="c-collection__modal c-collection__modal--<%=i+1%> <% if(i+1==1) {%> is-active<%}%>">
                  <div class="c-collection__content l-container--960">
                    <div class="c-collection__modalcontent">
                      <div class="c-collection__modalimg">
                          <img src="<%= modal.url %>" alt="<%= collection.title %>" class="c-collection__modalimg">
                      <div class="c-collection__modalcontent--bottom u-bgblue u-textwhite">
                        <img src="./assets/img/interview/modal/close.svg" alt="閉じる" class="c-collection__modalcloseicon">
                        <span class="c-collection__modalclose">閉じる</span>
                      </div>
                      </div>
                    </div>
                  </div>
                </div>
              <%})%>
          <%}%>
    </div>
  </section>
  