<section class="p-interview p-scroll l-container--1200 " id="interview">
  <div class="c-interview__messages">
    <div class="c-messages l-container--960">
      <div class="c-messages__heading c-fadein">
        <h2 class="c-messages__title u-textblue"><%= interview.title%></h2>
        <h3 class="c-messages__subtitle u-textgray">
          <span class="c-messages__subtitle--top"><%- interview.subtitle1%></span>
          <br>
          <span class="c-messages__subtitle--top"><%- interview.subtitle2%></span>
        </h3>
      </div>
      <div class="c-messages__list c-fadein">
          <% if (typeof interview != 'undefined') { %>
            <% interview.list && interview.list.forEach(item => { %>
                <div class="c-messages__item">
                  <figure class="c-messages__itemimg">
                    <img src="<%= item.img %>" alt="<%= item.title %>"  class="c-messages__img">
                  </figure>
                  <p class="c-messages__itemtitle u-textblue u-bgwhite"><%= item.title %></p>
                  <div class="c-messages__info u-bgblue u-textwhite">
                    <img src="<%= interview.arrow %>" alt="<%= item.title %>" class="c-messages__arrow">
                    <p class="c-messages__introduce">
                      <span class="c-messages__name"><%= item.name %></span><br>
                      <span class="c-messages__exp"><%= item.exp %></span>
                    </p>
                  </div>
                </div>
            <%})%>
          <%}%>
      </div>
      <% if (interview.messages) { %>
        <% interview.messages.forEach((message,i) => { %>
            <div class="c-messages__modal c-messages__modal--<%=i+1%> ">
              <div class="c-messages__content l-container--960">
                <h4 class="c-messages__modaltitle u-textblue"><%= message.title  %></h4> 
                <div class="c-messages__modalcontent">
                  <div class="c-messages__modalcontent--top">
                    <div class="c-messages__modalimgbox">
                      <img src="<%= message.img %>" alt="<%= message.title %>" class="c-messages__modalimg">
                      <div class="c-messages__modalinfo u-bgblue u-textwhite">
                        <p class="c-messages__modalname"><%= message.name  %></p>
                        <p class="c-messages__modalexp"><%= message.exp  %></p>
                      </div>
                    </div>
                    <div class="c-messages__modaltext">
                      <% if (message.contents) { %>
                        <% message.contents.forEach(content => { %>
                          <dl class="c-messages__modalquestion">
                            <dt class="c-messages__modalquestion--title u-textgray"><%= content.question %></dt>
                            <dd class="c-messages__modalanswer"><%- content.answer %></dd>
                          </dl>
                        <%})%>
                      <%}%>
                    </div>
                    </div>
                  <div class="c-messages__modalcontent--bottom u-bgblue c-closebtn u-textwhite">
                    <img src="./assets/img/interview/modal/close.svg" alt="閉じる" class="c-messages__modalcloseicon">
                    <span class="c-messages__modalclose">閉じる</span>
                  </div>
                </div>
              </div>
            </div>
          <%})%>
      <%}%>
    </div>
  </div>
  <div class="c-interview__represent u-bgblue">
    <div class="c-represent c-fadein l-container--960 u-textwhite">
      <div class="c-represent__wrapper">
        <h3 class="c-represent__title"><%= represent.title %></h3>
        <div class="c-represent__sharer">
          <div class="c-represent__text">
            <h4 class="c-represent__subtitle"><%= represent.subtitle %></h4>
              <% if (represent.descriptions) { %>
                <% represent.descriptions && represent.descriptions.forEach(desc => { %>
                  <p class="c-represent__description"><%= desc.description %></p>
                <%})%>
              <%}%>
            </div>
          <img src="<%= represent.img %>" alt="<%= represent.title %>" class="c-represent__img">
        </div>
        <div class="c-represent__feelbox">
          <% if (represent.feels) { %>
            <% represent.feels.forEach(feel => { %>
              <p class="c-represent__feel"><%= feel.feel %></p>
            <%})%>
          <%}%>
        </div>
        <p class="c-represent__author"><%=represent.author %></p>
      </div>
      <div class="c-represent__company">
        <p class="c-represent__companyname"><%= represent.company%></p>
        <div class="c-represent__explainbox">
          <a href="./" class=" u-bgwhite c-represent__logolink"><img src="<%= represent.logo %>" alt="<%= represent.title %>" class="c-represent__logo"></a>
          <div class="c-represent__explain">
            <% if (represent.brandinfo) { %>
              <% represent.brandinfo.forEach(info => { %>
                  <div class="c-represent__explainitem">
                    <p class="c-represent__name"><%= info.name %></p><hr class="c-represent__line">
                    <p class="c-represent__mean"><%= info.mean %></p>
                  </div>
              <%})%>
            <%}%>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
  