<section class="c-mainvisual">
  <div class="c-mainvisual__wrapper">
    <div class="c-slider__slideshow">
      <div class="c-topslider c-zoominslider" id="c-jstopslider">
        <div class="c-topslider__item c-topslider__item01">
          <div class="c-topslider__item--bg c-topslider__item--bg01"></div>
        </div>
        <div class="c-topslider__item c-topslider__item02">
          <div class="c-topslider__item--bg c-topslider__item--bg02"></div>
        </div>
        <div class="c-topslider__item c-topslider__item03">
          <div class="c-topslider__item--bg c-topslider__item--bg03"></div>
        </div>
      </div>
    </div>
    <div class="c-mainvisual__text">
      <div class="c-mainvisual__inner">
        <h2 class="c-mainvisual__title u-textwhite">
          <span class="c-mainvisual__title--span c-mainvisual__title--top u-bgblue"><%= mainvisual.title1%></span>
          <br>
          <span class="c-mainvisual__title--span c-mainvisual__title--middle u-bgblue"><%= mainvisual.title2%> </span>
          <br>
          <span class="c-mainvisual__title--span c-mainvisual__title--bottom u-bgblue"><%= mainvisual.title3%> </span>
          <br>

        </h2>
      </div>
      <div class="c-mainvisual__scroll l-container--960 u-bgwhite">
        <p class="c-mainvisual__scrolltext c-mainvisual__scrolltext--top u-textblue">scroll</p>
        <h3 class="c-mainvisual__scrolltext c-mainvisual__scrolltext--bottom u-textblue"><span class="u-textorange"><%=mainvisual.colortext%></span><%=mainvisual.scrolltext%></h3>
      </div>
    </div>
  </div>
</section>
